.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 20px 8px 20px;
  background-color: #6666664e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease;
}

.containerDark {
  background-color: #000000e2;
}

.logo {
  width: 90px;
  height: "auto";
}

.logoImage {
  width: 100%;
  height: auto;
}

.profile {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userName {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
