.header {
  position: relative;
  height: 150px;
  width: 100%;
  background: linear-gradient(to right, #6a43d1, #9474e6);
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 30px;
  overflow: visible; /* 이미지가 영역 밖으로 나갈 수 있도록 변경 */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
}

.title {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 40px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
}

.ioComponents {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  max-width: 1600px;
  height: calc(100vh - 20rem);
}

.ioComponents > * {
  flex: 1;
  min-width: 0;
  height: 100%;
}
